
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Pagina do aluno</title>
        </head>
    <body>
        <h2>Pagina do aluno</h2>
        <h3>@ViewBag.Nota</h3>
        <p>@ViewData["Escola"]</p>
    </body>
</html>
