
@{
    ViewData["Title"] = "Resultado";
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Resultado</h3>
    <h2>@ViewBag.Exemplo</h2>
</body>
</html>


